body {
    padding: 0;
    margin: 0;
    background: #fff7ff;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#ae97c2;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #ae97c2;
  }
  .description p {
    color: #000;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .customer_description {
    width: 100%;
    text-align: center;
    color: #000;
  }
  .customer_description h1{
    text-align: center;
    color: #ae97c2;
    font-size: 400%;
  }
  .customer_description h3{
    text-align: center;
    color: #ae97c2;
  }

  .new_customer {
    text-align: center;
  }

  .customer_description #sign-up{
    width: 50%;
  }

  .customer_register {
    width: 50%;
    text-align: center;
    transform: translate(50%, 0%);
  }